In [1]:
# first chapter of python
# CompExplained YouTube Channel
# Author: Rambod Azimi

print("Hello, World!") # my comment!

#print("Comp Exmplained")

#print("Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. Rambod Azimi. ")

Hello, World!

In [2]:
# indentation
if 5 > 2:
    # do something
    print("inside if")

print("Hello, World!") # my comment!

inside if
Hello, World!

In [3]:
# white spaces
if 5 > 2:
    print("Salam")

if 5  > 2:
    print("Salam")

if 5>2:
    print("Salam")

if 5 > 2:
    print("Salam")

Salam
Salam
Salam
Salam

In [4]:
# Variable
# variable_name = value

x = 6 # int
# Java/C: int x = 6;

pi = 3.14 # floating point numbers
print(pi)
# Java/C: double pi = 3.14;

name = "Rambod Azimi" # string
name = 'Rambod Azimi' # string 2 (same!)
print(name)

char = 'c' # character
print(char)

my_bool = False # boolean
print(my_bool)

3.14
Rambod Azimi
c
False

In [5]:
# example: university portal
first_name = "Rambod"
last_name = "Azimi"
age = 24
student_number = "12345"

print(first_name, last_name, age, student_number)

# better way!
print(f"Welcome {first_name} {last_name}! You are {age} years old and your student number is {student_number}")

Rambod Azimi 24 12345
Welcome Rambod Azimi! You are 24 years old and your student number is 12345

In [6]:
# Casting
x = str(3) # x will be "3"
y = int(3) # y will be 3
z = float(3) # z will be 3.0

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
# Case-sensitive
first_name = "Rambod"
print(first_name)

Rambod

In [8]:
# Operator
# + - * / % ** //
x = 10
y = 6

# +
print(x + y)

# -
print(x - y)

# *
print(x * y)

# /
print(x / y)

# //
print(x // y)

16
4
60
1.6666666666666667
1

In [9]:
# Assignment Operators
x = 10
x += 5 
print(x)

y = 5
y -= 10
print(y)

z = 30
z *= 2
print(z)

15
-5
60

In [10]:
# Comparison Operators
# == -> equal
# != -> not equal
# < <= > >=

# examples
x = 10
y = 5

print(x > y) # print (10 > 5)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

True
False
False
True
True
False

In [11]:
# logical operators
# and / or / not

age = 20
x = 10

print( not age >= 18)

False

In [39]:
# List
name_list = ["ali", "hasan", "reza", "rambod", "hossein", 1, False, 'c', -1.56]
print(name_list)

# Changeable
name_list[0] = "maryam"
name_list[1] = "maryam"

print(name_list)

print(len(name_list))
print(type(name_list))

['ali', 'hasan', 'reza', 'rambod', 'hossein', 1, False, 'c', -1.56]
['maryam', 'maryam', 'reza', 'rambod', 'hossein', 1, False, 'c', -1.56]
9
<class 'list'>

In [28]:
# Tuple
name_tuple = ("ali", "hasan", "reza")

print(name_tuple)

#unchangeable
#name_tuple[0] = "maryam"


print(len(name_tuple))
print(type(name_tuple))

('ali', 'hasan', 'reza')
3
<class 'tuple'>

In [32]:
# Sets
name_set = {"ali", "hasan", "reza"}

print(name_set)

print(len(name_set))

{'hasan', 'reza', 'ali'}
3

In [37]:
# Dictionaries
# key-value pair

my_car = {
    "brand": "BMW",
    "model": "630i",
    "year": 2003
}

print(my_car)

print(my_car["year"])

{'brand': 'BMW', 'model': '630i', 'year': 2003}
2003

In [54]:
# If ... Else ... Elif

# Example
a = 10
b = 100
c = 300

if a > b:
    print("a is greater than b!")
elif b > a:
    print("b is greater than a!")
else: # if a == b
    print("a is equal to b!")

# Example 2 (str)
name_1 = "rambod"
age_1 = 17
name_2 = "ali"
age_2 = 16

if name_2 == "ali" and age_2 >= 18:
    print("you are allowed to enter!")

b is greater than a!

In [60]:
# Loop
# while

# Example
i = 1
while i <= 5:
    print(i)
    i = i + 1
    
# i=1 -> 1 -> i=2 -> 2 -> i=3 -> 3 -> i=4 -> 4 -> i=5 -> 5 -> i=6

# Example 2 (break)
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break
    i = i + 1


# Example 3 (continue)
i = 1
while i <= 5:
    i = i + 1
    if i == 3:
        continue
    print(i)

1
2
3
4
5
1
2
3
2
4
5
6

In [64]:
# For loop

for a in name_list:
    if a == "maryam":
        print(a)

maryam
maryam

In [67]:
# Example
number_list = [20, 19, 18, 20, 15, 17]
# Find the average?

sum = 0
for grade in number_list:
    sum += grade

print(f"Average Grade: {sum / len(number_list)} out of 20.")

Average Grade: 18.166666666666668 out of 20.

In [69]:
# Function
# input -> f(x) -> output
def function_name():
    print("Function is called!")

In [71]:
# calling a function
function_name()
function_name()
function_name()
function_name()

Function is called!
Function is called!
Function is called!
Function is called!

In [77]:
# Example: Average function

def calculate_average(grade_list):
    sum = 0
    for grade in grade_list:
        sum += grade
    return sum / len(grade_list)

In [79]:
result = calculate_average(number_list)

print(result)

number_list_2 = [10, 12, 18, 10]
result_2 = calculate_average(number_list_2)
print(result_2)

18.166666666666668
12.5

In [86]:
# Example 2: Sum of 3 numbers

def calculate_sum(a, b, c):
    return a + b + c

In [85]:
calculate_sum(10, 20, 5)

35